<!DOCTYPE html>
<html lang="en">
<head>

  {% block title %}<title>Assessment Center</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- Добавление дополнительного статического CSS файла -->
  {% load static %}
  <link type="image/png" sizes="16x16" rel="icon" type="image/x-icon" href="{% static 'img/icons8-globe-gradient-16.png' %}">
  <link type="image/png" sizes="32x32" rel="icon" type="image/x-icon" href="{% static 'img/icons8-globe-gradient-32.png' %}">
  <link type="image/png" sizes="96x96" rel="icon" type="image/x-icon" href="{% static 'img/icons8-globe-gradient-96.png' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body class="main-page">
    {% block content %}{% endblock %}
</body>
</html>