{% extends "base_generic.html" %}

{% block content %}
  <div class="maincontent">
  <h1>Assessment Center Home</h1>
    {% if user.is_staff%}

      <p>Добро пожаловать в <em>Ассессмент-центр</em>.</p>
      <p>Ассессмент-центр предназначен для оценки работы персонала.</p>
      <ul>
        <li>Перейдите во вкладку "Назначения тестов" для назначения назначения или прохождения тестов</li>
        <li>Перейдите во вкладку "Список клиентов" для добавления новых клиентов</li>
        <li>Перейдите во вкладку "Конструктор тестов" для добавления, удаления или редактирования тестов</li>
        <li>Перейдите во вкладку "Описание результатов" для добавления и редактирования результатов тестов</li>
        <li>Перейдите во вкладку "Результаты" для просмотра результатов пройденных тестов</li>
      </ul>

    {%else%}

      <p>Добро пожаловать в <em>Ассессмент-центр</em>.</p>
      <p>Ассессмент-центр предназначен для оценки работы персонала.</p>
      <ul>
        <li>Перейдите во вкладку "Назначенные тесты" для прохождения доступных тестов</li>
        <li>Перейдите во вкладку "Результаты" для просмотра результатов уже пройденных тестов</li>
      </ul>
    
    {%endif%}
  </div>
{% endblock %}