{% extends "base_generic.html" %}

{% block content %}
<h1>Assessment Center Home</h1>
{% if user.is_authenticated %}

  <p>Welcome to <em>Assessment Center</em>.</p>

<h2>The assessment center has the following api urls:</h2>
  <ul>
    <li><a href="{%url 'index'%}api/getthemes">{%url 'index'%}api/getthemes"</a></li>
    <li><a href="{%url 'index'%}api/getquizzes/themeID">{%url 'index'%}api/getquizzes/themeID"</a></li>
  </ul>
{%else%}
<p>Welcome to <em>Assessment Center</em>, for get all features of this systme you need to <a href="{% url 'index' %}accounts/login">login</a>.</p>
{%endif%}
{% endblock %}