{% extends "base_generic.html" %}
{% block content %}

    <div class="form-container">
        <form action="" method="post">
            {% csrf_token %}
            <h3>Наименование для теста</h3>
            <div>
                {{ form.quizname }}
                {{form.clientID.as_hidden}}

                <input type="submit" value="Сохранить" class="btn btn-primary"/>
                <a href="{% url 'quizzes' %}" type="button" class="btn btn-primary">Отмена</a>
            </div>
        </form>
    </div>

{% endblock %}